*.iml
.gradle
/local.properties
/keystore.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
play_config.json
.kotlin
/spotify-app-remote/build
/app/release

# Sentry Config File
sentry.properties
/app/.idea
/app/github

shared/.idea