<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService"/>
        </intent>
        <intent>
            <action android:name="android.media.session.MediaSessionService"/>
        </intent>
    </queries>
</manifest>