<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.Manifest.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>

    <application
        android:name=".App"
        android:autoRevokePermissions="allowed"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="32">
        <activity
            android:name=".presentation.features.brainzplayer.ui.BrainzPlayerActivity"
            android:exported="false" />

        <service
            android:name=".presentation.features.listens.submitter.ListenService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name=".presentation.features.brainzplayer.services.BrainzPlayerService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaMrowserService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.features.onboarding.FeaturesActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".presentation.features.dashboard.DashboardActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.features.recording.RecordingActivity"
            android:label="@string/search_type_recording" />
        <activity
            android:name=".presentation.features.label.LabelActivity"
            android:label="@string/search_type_label" />
        <activity
            android:name=".presentation.features.release_group.ReleaseGroupActivity"
            android:label="@string/search_type_release_group" />

        <activity
            android:name=".presentation.features.login.LoginActivity"
            android:label="@string/auth_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="org.listenbrainz.android" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.features.about.AboutActivity"
            android:label="@string/about_title" />
        <activity
            android:name=".presentation.features.dashboard.DonateActivity"
            android:label="@string/donate_title" />
        <activity
            android:name="org.listenbrainz.android.presentation.features.release.ReleaseActivity"
            android:label="@string/release_title" />
        <activity
            android:name="org.listenbrainz.android.presentation.features.artist.ArtistActivity"
            android:label="@string/artist_title" />
        <activity
            android:name="org.listenbrainz.android.presentation.features.settings.SettingsActivity"
            android:label="@string/preferences_title" />

        <activity android:name=".presentation.features.newsbrainz.NewsBrainzActivity" />

        <activity android:name=".presentation.features.listens.ListensActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <activity android:name=".presentation.features.listens.RemotePlayerActivity"
            android:theme="@style/AppThemeNoActionBar"/>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.SearchActivity" />

        <provider
            android:name="org.listenbrainz.android.presentation.features.suggestion.SuggestionProvider"
            android:authorities="${applicationId}.SearchSuggestionProvider"
            android:exported="false" />

    </application>

</manifest>